.faq .custom-margin {
    margin: 40px 0 20px;
}

.print-label {
    font-weight: bold;
    clear: both;
}

.row h2.title {
    padding: 0 30px;
}

.row .form-group label {
    margin-top: 5px;
}

.row .form-group label[id="signature"] {
    margin-top: 0;
}

div.screenshot-container div.content {
    padding: 30px;
}

#how div.screenshot-container div.content {
    height: 220px;
}

#features div.screenshot-container div.content {
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}

.screenshot {
    -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
    -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
    transition: transform ease-out 0.2s, background 0.3s;
    max-width: 220px;
    float: left;
}

.screenshot-title {
    float: left;
    max-width: 220px;
    position: absolute;
    bottom: 0;
}

#features div.screenshot-container a h3.title {
    color: #f8a842;
    font-size: 18px;
}
