html {
    position: relative;
    min-height: 100%;
}

body {
	font-size: 16px;

}

@media (min-width: 992px) {
    body {
        margin-bottom: 260px;
    }
}

h1, .h1 {
    font-size: 30px;
}
h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    font-size: 18px;
    padding-top: 20px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 14px;
}
h6, .h6 {
    font-size: 12px;
}

.footer .links a {
    color: #fff;
    font-size: 14px;
}

.sitemap-cat {
    font-weight: bold;
    color: #fff;
}

.sitemap-group {
    padding-top: 20px;
}

.sitemap-sub {
    /*padding-left: 1em;*/
}

.big-button-base {
    font-size: 18px;
    margin-right: 15px;
    background-color: #E19C14;
    border-color: #E19C14;
}

.btn-warning {
    color: #fff;
    background-color: #E19C14;
    border: solid 2px;
    border-color: #d99614;
}

.big-button-empty {
    background-color: #ffffff;
    color: #E19C14;
}

.flex-control-paging li a {
	width: 9px;
	height: 9px;
}

.features .custom-margin {
    margin: 40px 0 20px;
}
.print-label {
    font-weight: bold;
    clear: both;
}


.row h1.title {
    margin-bottom: 30px;
}

.row  h1.firstpagetitle {
    margin-bottom: 15px;
	font-size: 35px;
    line-height: 130%;
}

.row .form-group label {
    margin-top: 5px;
}
.row .form-group label[name="signature"] {
    margin-top: 0;
    line-height: 16px;
}
.section ul, .section ol {
    padding-left: 20px;
}
.section ul li {
    list-style-type: square;
}
.section ul.slides li {
    list-style-type: none;
}
div.screenshot-container div.content {
    padding: 0 40px;
}
#how div.screenshot-container div.content {
    height: 250px;
}
#features div.screenshot-container {
    margin: 0 auto 50px auto;
}
#features div.screenshot-container div.content {
    height: 205px;
    margin: 0;
}
.screenshot {
    -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
    -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
    -ms-transition: -ms-transform ease-out 0.2s, background 0.3s;
    -o-transition: -o-transform ease-out 0.2s, background 0.3s;
    max-width: 220px;
    float: center;
}
.screenshot-image {
    position: relative;
    bottom: 0;
}
.features .content .screenshot-container p.screenshot-title {
    float: left;
    max-width: 180px;
    position: absolute;
    bottom: 0;
    color: #444;
    font-size: 14px;
    margin-bottom: 0;
}
.custom-reduce-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.custom-reduce-padding-2 {
    padding-top: 80px;
}
.custom-reduce-padding-3 {
    padding-bottom: 10px;
}
.custom-add-padding {
    padding-top: 20px;
}
.custom-alert {
    display: block;
    margin-top: 30px;
}
.move-down {
    padding-bottom: 40px;
}
ul.files li {
    padding-bottom: 10px;
}
#special-rotate, #special-rotate:hover {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: scale(0.93) rotate(90deg);
    -moz-transform: scale(0.93) rotate(90deg);
    -ms-transform: scale(0.93) rotate(90deg);
    -o-transform: scale(0.93) rotate(90deg);
}
.icon-addons {
    display: inline-block;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.icon-addons a {
    display:inline;
    margin: 0 5px;
    margin-bottom: 20px;
    font-size: 16px;
}
.icon-addons i {
    color: #212121;
}
.icon-addons #icon-i-hover:hover {
    color: #E19C14;
}
.custom-panel-body {
    padding: 0 15px 15px;
}
a.custom-accordion-title {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
    text-decoration: none;
}
h3.custom-accordion-title {
    padding-top: 0;
    display: inline;
}
.custom-accordion-container {
    color: #333;
    background-color: #f5f5f5
}
.custom-accordion-container:hover {
    color: #E19C14;
}
.features .icon-selected {
    background: #E19C14;
    color: #E19C14;
    position: relative;
    width: 90px;
    height: 90px;
    border: 4px solid #E19C14;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
    -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
    transition: transform ease-out 0.2s, background 0.3s;
}
.features .icon-selected .fa {
    color: #fff;
    font-size: 48px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.promo ul {
    padding-left: 0;
}
.download-area .download-right {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    margin: 0 auto;
}
.download-area .download-left {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    margin: 0 auto;
}
@media (max-width: 487px) {
    .download-area {
        text-align: center;
    }

    .download-area .download-left {
        padding: 10px 10px 25px 1px;
        margin: 0 auto;
    }

    .download-area .download-right {
        padding: 25px 20px 10px 0;
        margin: 0;
    }

}

@media (max-width: 768px) {
    .features .feature-panel img.image {
        padding-top: 20px;
    }
    .landing-image {
        display: block;
        float: left;
        width: 100%;
        max-width: 550px;
    }
}

@media (min-width: 488px) {
    .download-area {
        text-align: center;
    }
    .download-area .download-left {
        padding: 10px 10px 25px 1px;
        margin: 0 auto;
    }
    .download-area .download-right {
        padding: 30px 20px 10px 20px;
        margin: 0;
    }
}
@media (min-width: 768px) {
    .download-area {
        text-align: left;
    }
    .download-area .download-left {
        padding: 10px 0 25px 1px;
    }
    .download-area .download-right {
        padding: 25px 20px 10px 1px;
    }
}
@media (min-width: 992px) {
    .download-area {
        text-align: left;
    }
    .download-area .download-left {
        padding: 10px 10px 25px 1px;
    }
    .download-area .download-right {
        padding: 30px 0 10px 10px;
    }
}
.download-btn {
    padding-top: 0;
}
.table td.custom-td {
    border-top: none;
    padding: 2px 0;
    padding-right: 5px;
    font-size: 14px;
}

.footer-append-container {
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}
#main.container {
    padding-right: 0;
    padding-left: 0;
}

.list-sitemap {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-sitemap>li {
    padding-left: 5px;
    padding-right: 5px;
}

.docs-image {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

#testimonials h2 {
    text-align: center;
}

.testimonial-list {
    padding-bottom:20px;
}

.testimonial-list .item {
    list-style-type: none;
    padding: 20px 0;
}

.testimonial-list .img-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.testimonial-list img {
    width: 160px;
}

.testimonial-list .item {
    padding-right: 20px;
}

.testimonial-list .item .item-title {
    text-align: center;
    padding-top:0;
}

.testimonial-list .item .feature-text {
    text-align: center;
}

.testimonial-list .item i.extra {
    font-size: 13px;
    color: #3c3c3c;
    font-weight: normal;
}

.landing-image {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 550px;
}
