{% extends "courses/base.html" %}
{% load staticfiles %}

{% block title %}
    Text analysis for social scientists
{% endblock title %}

{% block opengraph-social-image %}
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://orange.biolab.si/static/courses/best.jpg" />
    <meta property="og:image:width" content="750" />
    <meta property="og:image:height" content="303" />
    <meta property="og:title" content="Workshop - Text Analysis for Social Scientists" />
    <meta property="og:description" content="A text analysis course especially for social scientists. Learn about modern methods for text analysis and other exciting approaches from the flourishing field of digital humanities." />
    <meta property="article:publisher"  content="https://www.facebook.com/orangedm/" />
{% endblock opengraph-social-image %}

{% block text %}
    <img src="{% static 'courses/best.jpg' %}" alt="hero shot"/>
    <h1>Text analysis for social scientists</h1>

    <p>Social sciences no longer entail only 'manual' analysis of text. New, simple tools enable the
        analysis of
        large data and long texts in a very short time.</p>

    <div style="text-align: center; margin: 2em;">
        <a id="course-apply-text-analysis-for-social-scientists-button"  href="https://www.eventbrite.com/e/text-analysis-for-social-scientists-tickets-34321114377" class="btn btn-warning big-button-base" style="padding:.5em 2em;">Apply</a>
    </div>

    <h2>Why should I attend?</h2>
    <ul>
        <li>We will learn about key machine learning and data
            visualization technologies for digital humanities.</li>
        <li>We will focus on content, not methods
            (no equations or programming).</li>
        <li>Everything will be hands-on and practical.</li>
        <li>We will learn how to apply new skills to teaching
            and research.</li>
        <li>We will be using free tools you can take home after the workshop.</li>
        <li>The course is given by the best lecturers in data mining.
            See our
            <a href="https://www.youtube.com/orangedatamining" target="_blank">
                youtube channel</a> for proof.</li>
    </ul>

    <p style="margin-bottom: 2em;">
        No coding knowledge required – this is a beginner workshop!
    </p>

    <div class="panel panel-warning">
        <div class="panel-heading">
        <b>Students from our past courses said</b>
        </div>
        <div class="panel-body">
            <img style="float:left; margin-right: 20px;" src="{% static 'courses/emaface.jpg' %}" alt="Ema" />
            <blockquote>
                <p>»Text mining has been indispensable in writing my MA thesis. I’ve been able to visualize my data, perform MDS analysis and connect different works of literature varying in genre, type and subject matter. I would recommend it to all students and researchers dealing with texts and textual analysis.«</p>
                <footer>Ema Karo</footer>
            </blockquote>
        </div>
    </div>


    <h2>What will you learn?</h2>
    <ul style="margin-bottom: 2em;">
        <li style="font-weight: normal;">Corpus-retrieval techniques
        <li>Text preprocessing and automatic syntactic annotation
        <li>Machine learning and text mining techniques for social sciences
        <li>Text clustering and segmentation
        <li>Topic modelling
        <li>Geotagging and sentiment analysis
        <li>Independent text analysis
    </ul>

    <div class="panel panel-warning">
        <div class="panel-heading">
            Lecturers
        </div>
        <div class="panel-body">
            <img style="float: left; margin-right: 20px; margin-bottom: 20px;" src="{% static 'courses/ajdaface.jpg' %}" alt="Ajda" />
            <blockquote>
                <p>»I am an anthropologist by education and a data scientist by heart. I believe modern data mining methods can be intuitively explained to everyone and used in all fields of research. Because you know, you can’t grep dead trees.«</p>
                <footer>Ajda Pretnar</footer>
            </blockquote>
            <div style="clear: both;"></div>

            <img style="float: left; margin-right: 20px;" src="{% static 'courses/nikoface.jpg' %}" alt="Niko" />
            <blockquote>
                <p>»I am computer scientist working towards my PhD by teaching computers to recognise emotions — so not only Sheldon, but you as well, can posses an emotion detection device.«</p>
                <footer>Niko Colnerič</footer>
            </blockquote>
        </div>
    </div>

    <h2>Price 75€</h2>
    <b>Included:</b>
    <ul>
        <li>5-hour course on key methods for text analysis
        <li>lecture notes
        <li>2 coffee breaks
        <li>certificate of attendance
    </ul>

    <p>
    <b>Requirement:</b>
    Bring your own laptop
    </p>

    <p>
        <b>Location:</b> Večna pot 113, Faculty of Computer and Information Science (FRI), University of
        Ljubljana
    </p>
    <p><b>Time:</b> June 8, 2017 from 9:00 to 14:00 (CEST)</p>

    <p>
        The workshop will be held in English, but we will discuss Slovene language technologies as well.
    </p>

    <div style="text-align: center; margin: 2em;">
        <a id="course-apply-text-analysis-for-social-scientists-button-lower" href="https://www.eventbrite.com/e/text-analysis-for-social-scientists-tickets-34321114377" class="btn btn-warning big-button-base" style="padding:.5em 2em;">Apply</a>
    </div>

    <p>
        Sneak peek into what we will do at the workshop:
    </p>

    <img src="{% static 'courses/screenshot.png' %}" alt="workflow" />

    <hr>
    <p style="text-align: center">
        <img style="margin-top: 53px; margin-right: 30px;" src="{% static 'courses/numfocuslogo.png' %}" alt="NumFocus" />
        <img src="{% static 'courses/frilogo.png' %}" alt="University of Ljubljana" />
    </p>

{% endblock text %}
