{% load staticfiles %}
{% load cache %}
{% load tag_extras %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}Orange Data Mining{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orange Data Mining Toolbox">
    <meta name="author" content="Bioinformatics Laboratory, University of Ljubljana">
    <meta name="google-site-verification" content="DS7GH5M7ABi78pIC2rMcTBFx-UeBFObXOeLvR7Ow3EQ" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- External fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/colorbox/colorbox.css' %}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/widgetcat.css' %}">
    <noscript>
        <style>
            .jsonly { display: none !important; }
        </style>
    </noscript>
	<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-528382-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
	</script>
    <script type="text/javascript" src="http://slideshow.triptracker.net/slide.js"></script>
</head>
<body data-spy="scroll">
    <!-- ******HEADER****** -->

    <header id="top" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo pull-left">
                <a id="header-orangelogo" href="/">
                    <img id="logo-image" class="logo-image" src="{% static 'images/orange_logo_new.png' %}" alt="Logo">
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
						{% if current_page != '' %}
                        <li class="active nav-item sr-only"><a id="header-home-link2" href="/">Home</a></li>
                        <li class="nav-item"><a id="header-home-link" href="/">Home</a></li>
						{% endif %}
                        <li class="nav-item"><a id="header-screenshots-link" href="{% url 'screenshots' %}">Screenshots</a></li>
                        <li class="nav-item"><a id="header-download-link" href="{% url 'download' %}">Download</a></li>
                        <li class="nav-item"><a id="header-docs-link" href="{% url 'docs' %}">Docs</a></li>
                        <li class="nav-item"><a id="header-blog-link" href="http://blog.biolab.si">Blog</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->


        <div id="main" class="container clear-top">
            <!-- ******CONTENT****** -->
            {% block content %}
            {% endblock content %}
            <!--//CONTENT-->
        </div>


    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-xs-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="/">Orange</a></b></li>
                                <li><a class="sitemap-sub" href="{% url 'license' %}">License</a></li>
                                <li><a class="sitemap-sub" href="{% url 'privacy' %}">Privacy Policy</a></li>
                                <li><a class="sitemap-sub" href="{% url 'citation' %}">Citation</a></li>
                                <li><a class="sitemap-sub" href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><a class="sitemap-cat" href="{% url 'download' %}">Download</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}windows/">Windows</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}mac-os-x/">Mac OS</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}linux/">Linux</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-4 sitemap-group">

                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="{% url 'community' %}">Community</a></b></li>
                                <li><a class="sitemap-sub" href="https://datascience.stackexchange.com/questions/tagged/orange">Stack Exchange</a></li>
                                <li><a class="sitemap-sub" href="https://www.facebook.com/orangedm">Facebook</a></li>
                                <li><a class="sitemap-sub" href="https://www.youtube.com/channel/UClKKWBe2SCAEyv7ZNGhIe4g">YouTube</a></li>
                                <li><a class="sitemap-sub" href="https://twitter.com/orangedataminer">@OrangeDataMiner</a></li>
                            </ul>

                        </div>

                    </div><!--//row-->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-xs-6 sitemap-group docs-devs">
                            <ul class="links list-sitemap">
                                <li><a class="sitemap-cat" href="{% url 'docs' %}">Documentation</a></li>
                                <li><a class="sitemap-sub" href="{% url 'start' %}">Get started</a></li>
                                <li><a class="sitemap-sub" href="{% url 'toolbox' %}">Widgets</a></li>
                                <li><a class="sitemap-sub" href="http://docs.orange.biolab.si/3/data-mining-library/">Scripting</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="https://github.com/biolab/orange3">Developers</a></b></li>
                                <li><a class="sitemap-sub" href="https://github.com/biolab/orange3">GitHub</a></li>
                                <li><a class="sitemap-sub" href="{% url 'contribute' %}">Contribute</a></li>
                            </ul>
                        </div>

                    </div><!--//row-->
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 sitemap-group">
                    <div class="latest-blog-posts">
                        <ul class="links list-sitemap" style="padding-bottom: 10px">
                            <li><b><a class="sitemap-cat" href="http://blog.biolab.si/">Latest blog posts</a></b></li>
                        </ul>

                        {% cache 43200 feed_all %}
                            {% grab_feed_all %}
                        {% endcache %}
                    </div>
                </div>

            </div><!--//row-->

            <div class="row">
                <div class="col-xs-12">
                    <small class="copyright pull-left">Copyright © University of Ljubljana</small>
                </div>
            </div>
        </div>
    </footer><!--//footer-->


    <!-- Javascript --> 
    <script type="text/javascript" src="{% static 'plugins/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/detectmobilebrowser.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <!-- button tracking -->
    <script type="text/javascript">
      $( document ).ready( function () {

        $('a').off("click").click( function ( event ) { 
           ga('send', 'event', "a", event.type, $(this).attr("id"), 1 );
        });

        $('[class *= trackClicks_]').off("click").click( function ( event ) { 
           var classList = $(this).attr('class').split(/\s+/);
           var trackname = "";
           $.each(classList, function(index, item) {
             if (item.indexOf('trackClicks_') === 0) {
                trackname = item;
             }
           });
           ga('send', 'event', "a", event.type, trackname, 1 );
        });
      });
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static 'plugins/html5shiv.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/respond.min.js' %}"></script>
    <![endif]-->
    <!--[if !IE]>-->
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!--<![endif]-->
    {% if current_page == '' %}
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript"></script>
    {% endif %}
    {% if current_page == 'contact' or current_page == 'contributing' %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}
</body>
</html>
