{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}Orange Data Mining{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orange Data Mining Toolbox">
    <meta name="author" content="Bioinformatics Laboratory, University of Ljubljana">
    <meta name="google-site-verification" content="DS7GH5M7ABi78pIC2rMcTBFx-UeBFObXOeLvR7Ow3EQ" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- External fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/flexslider/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-visage/res-alt/visage.css' %}" type="text/css" />
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-528382-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
	</script>
</head>
<body data-spy="scroll">
    <!-- ******HEADER****** -->
    <header id="top" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo pull-left">
                <a href="/">
                    <img id="logo-image" class="logo-image" src="{% static 'images/orange-logo-w.png' %}" alt="Logo">
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a id="header-screenshots-link" href="{% url 'screenshots' %}">Screenshots</a></li>
                        <li class="nav-item"><a id="header-download-link" href="{% url 'download' %}">Download</a></li>
                        <li class="nav-item"><a id="header-docs-link" href="http://docs.orange.biolab.si">Docs</a></li>
                        <li class="nav-item"><a id="header-community-link" href="{% url 'community' %}">Community</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    <div class="footer-append-container">
        <div id="main" class="container clear-top">
            <!-- ******CONTENT****** -->
            {% block content %}
            {% endblock content %}
            <!--//CONTENT-->
        </div>
    </div>

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container">
            <ul class="links list-inline pull-right">
                <li><a href="{% url 'contribute' %}">Contribute</a></li>
                <li><a href="{% url 'license' %}">License</a></li>
                <li><a href="{% url 'citation' %}">Citation</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <small class="copyright pull-left">Copyright &copy; University of Ljubljana</small>
        </div>
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/detectmobilebrowser.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-visage/src/jquery.visage.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-visage/src/jquery.visage.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- button tracking -->
    <script type="text/javascript">
      $( document ).ready( function () {
        $('#main-page-download-button a').each(function() {
          $(this).click(function ( event ) { 
            ga('send', 'event', "button", "click", "main-page-download-button", 1 );  
          });
        });
      });
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static 'plugins/html5shiv.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/respond.min.js' %}"></script>
    <![endif]-->
    <!--[if !IE]>-->
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!--<![endif]-->
    {% if current_page == '' %}
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript"></script>
    {% endif %}
    {% if current_page == 'contact' or current_page == 'contributing' %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endif %}
</body>
</html>
