{% extends "base.html" %}

{% block title %}Contributing{% endblock title %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if post > 0 %}
                    <div class="alert alert-success custom-alert text-center fade in">
                        <strong>Success!</strong> Thank you for your contribution.&nbsp;&nbsp;&nbsp;<button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% elif post < 0 %}
                    <div class="alert alert-danger custom-alert text-center fade in">
                        <strong>Error!</strong>&nbsp;
                        {% if post == -2%}
                            Wrong captcha. Please try again.
                        {% else %}
                            Please electronically sign and re-submit the form below.&nbsp;&nbsp;&nbsp;<button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% endif %}
                    </div>
                {% endif %}
                <h1 class="title">Contributing to Orange</h1>
                <div class="content">
                    <p>Thank you for contributing code to the Orange project! Like many open source projects, we need a contributor license agreement from you before we can merge in your changes. You only need to fill out this agreement once.</p>
                    <p>In brief, by asking us to merge your code into the Orange project, you are assigning us the perpetual right to use that code in any way we like, including providing it to others. You are also certifying that you wrote the code, and that you are allowed to assign it to us. You are not giving up any copyright: your code is still yours, and you can do whatever you want with it.</p>
                    <p>Contributor License Agreements are important because they define the chain of ownership of a piece of software. Some companies won't allow the use of free software without clear agreements around code ownership. That's why many open source projects collect similar agreements from contributors.</p>
                    <p>Please read this document carefully before signing and keep a copy for your records. If you have questions about these terms, please contact us at info@biolab.si.</p>

                    <h2 class="custom-margin">Contributor License Agreement ("CLA")</h2>
                    <p>This CLA applies to any contribution that "you", the person identified below, make to the Orange open source software project ("project") managed by Bioinformatics Laboratory at University of Ljubljana ("us" or "Orange"), and sets out the intellectual property rights you grant to us in such contribution. This CLA is for your protection as well as protection of Orange and its licensees; it does not change your rights to use your own contributions for any other purpose. If you agree to be bound by these terms, sign this page electronically with the form below.</p>

                    <ol><li>The term "contribution" means any source code, object code, patch, tool, sample, graphic, specification, manual, documentation, or any other material posted or submitted by you to the project.
                    </li><li>With respect to any worldwide copyrights, or copyright applications and registrations, in your contribution:
                    <ol ><li> You hereby assign to us joint ownership, and to the extent that such assignment is or becomes invalid, ineffective or unenforceable, you hereby grant to us a perpetual, irrevocable, non-exclusive, worldwide, no-charge, royalty-free, unrestricted license to exercise all rights under those copyrights. This includes, at our option, the right to sublicense these same rights to third parties through multiple levels of sublicensees or other licensing arrangements;
                    </li><li> You agree that each of us can do all things in relation to your contribution as if each of us were the sole owners, and if one of us makes a derivative work of your contribution, the one who makes the derivative work (or has it made) will be the sole owner of that derivative work;
                    </li><li> You agree that you will not assert any moral rights in your contribution against us, our licensees or transferees;
                    </li><li> You agree that we may register a copyright in your contribution and exercise all ownership rights associated with it; and
                    </li><li> You agree that neither of us has any duty to consult with, obtain the consent of, pay or render an accounting to the other for any use or distribution of your contribution.
                    </li></ol></li><li>With respect to any patents you own, or that you can license without payment to any third party, you hereby grant to us a perpetual, irrevocable, non-exclusive, worldwide, no-charge, royalty-free license to:
                    <ol ><li>make, have made, use, sell, offer to sell, import, and otherwise transfer your contribution in whole or in part, alone or in combination with or included in any product, work or materials arising out of the project to which your contribution was submitted, and
                    </li><li>at our option, to sublicense these same rights to third parties through multiple levels of sublicensees or other licensing arrangements.
                    </li></ol></li><li>Except as set out above, you reserve all right, title, and interest in and to the contributions. The rights you grant to us above are effective on the date you first submitted a contribution to us, even if your submission took place before the date you sign this CLA.
                    </li><li>You represent, warrant and agree that:
                    <ol ><li>each contribution that you submit is and will be an original work of authorship and you can legally grant the rights set out in this CLA. If your employer has rights to intellectual property that you create, you represent that you have received permission to make the contributions on behalf of that employer, that your employer has waived such rights for the contributions, or that your employer has signed a separate Contributor Agreement with us;
                    </li><li>to the best of your knowledge, each contribution will not violate any third party's copyrights, trademarks, patents, or other intellectual property rights;
                    </li><li>you are not legally obligated, whether by entering into an agreement or otherwise, in any way that conflicts with the terms of this CLA. For example, if you have signed an agreement requiring you to assign the intellectual property rights in the Contributions to an employer or customer, that would conflict with the terms of this CLA; and
                    </li><li>your contribution submission(s) include complete details of any license or other restriction (including, but not limited to, patents and trademarks) of which you are aware and which are associated with any part of your contribution.
                    </li></ol></li><li>You agree to notify us if you become aware of any circumstance which would make any of the foregoing representations inaccurate in any respect. Orange may publicly disclose your participation in the project, including the fact that you have signed this CLA.
                    </li></ol>

                    <h2 class="custom-margin">Submitting CLA by email, fax, or paper</h2>
                    <p>You may email a signed PDF of this document to <span class="fa fa-envelope-o"></span> <a class="mail-link" href="mailto:info@biolab.si">info@biolab.si</a>, or send this document by facsimile to (+386 1) 2419 350, or send us an original signed CLA to:</p>
                    <div class="license-forms">
                        <p class="print-label">
                        Bioinformatics Laboratory<br>
                        Faculty of Computer and Information Science<br>
                        Vecna pot 113<br>
                        1000 Ljubljana<br>
                        Slovenia<br>
                        </p>
                        <br><br>
                        <div class="print-label">Full Name:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">Mailing Address:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">Country:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">Telephone:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">E-mail:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">Personal Signature:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label">Date:</div>
                        <hr class="col-md-6 col-sm-6 col-xs-10">
                        <div class="print-label"></div>

                        <h2 class="custom-margin">Sign CLA Electronically</h2>
                        <p>Alternatively to sending by postal mail, email, or fax, you may also choose to sign the form electronically:</p>
                        <br>

                        <form role="form" class="form-horizontal" action="{% url 'contribute' %}" method="post" name="license-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10 span4" for="fullname">Full Name:</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <input class="form-control" type="text" id="fullname" name="Full Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10" for="email">E-mail:</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <input class="form-control" type="email" id="email" name="E-mail" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10" for="address">Mailing Address:</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <textarea class="form-control" id="address" name='Address' rows="7" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10" for="country">Country:</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <input class="form-control" type="text" id="country" name="Country" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10" for="number">Telephone Number:</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <input class="form-control" type="text" id="number" name="Number" size="25" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-10" for="signature">Electronic Signature:<br>(Type "I AGREE")</label>
                                <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                                    <input class="form-control" type="text" id="signature" name="Signature" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9">
                                    <div class="g-recaptcha" data-sitekey="6Lemwf4SAAAAACdTLL0TYpvYQ9LE91r6r_i7Yg2a"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-theme" value="Submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
