{% extends "base.html" %}

{% block content %}
<div>
  <h1>Contributing to Orange</h1>
    <ul>
    {% for screenshot in screenshots %}

    {% endfor %}
    </ul>

    <form action="{% url 'contribute' %}" method="post">
        {% csrf_token %}
        {#Razporedi v div#}
        <label>Full Name:</label> <input type="text" name='fullname'><br>
        <label>E-mail:</label> <input type="text" name='email'><br>
        <label>Mailing Address:</label> <input type="text" name='address'><br>
        <label>Country:</label> <input type="text" name='country'><br>
        <label>Telephone Number:</label> <input type="text" name='number'><br>
        <label>Electronic Signature (Type "I AGREE")</label> <input type="text" name='signature'><br>
        <input type="submit" value="Submit">
	</form>
</div>
{% endblock content %}
