{% extends "base.html" %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% if post %}
                    <div class="alert alert-success custom-alert text-center fade in">
                        <strong>Success!</strong> Keep in mind that it may take us a while to respond to your inquiry.&nbsp;&nbsp;&nbsp;<button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <h1 class="title">Contact</h1>

                <div class="content">
                    <p>We'd prefer to address support requests and other general questions on <a href="https://stackoverflow.com/questions/tagged/orange">Stack Overflow</a>, tagged appropriately. To report issues with Orange please post on our <a href="http://github.com/biolab/orange" title="GitHub Orange">GitHub repository</a>.</p>
                    <br>
                </div>
                <form role="form" class="form-horizontal" action="{% url "contact" %}" method="post" name="license-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="email">E-mail:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="email" id="email" name="E-mail" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="subject">Subject:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="text" id="subject" name="Subject" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="message">Message:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <textarea class="form-control" id="message" name='Message' rows="7" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <div class="g-recaptcha" data-sitekey="6Lemwf4SAAAAACdTLL0TYpvYQ9LE91r6r_i7Yg2a"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-theme" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock content %}
