{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Delavnice{% endblock title %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">Delavnice</h1>

                    <h2 class="custom-reduce-padding">Tekstovna analiza za družboslovce</h2>

                        <p>
                            Družboslovne analize dandanes niso več usmerjene zgolj v 'ročno' prebiranje besedil. Nova, preprosta orodja omogočajo digitalno analizo velikih podatkov in obsežnih besedil v kraktem času.
                        </p>

                        <p>
                            Podjetniki, jezikoslovci, sociologi, zgodovinarji, oglaševalci in drugi vedno pogosteje uporabljajo digitalne pristope za izboljšanje poslovanja in nova raziskovalna odkritja (podatkovne analitike). In čeprav je trend spodbuden za raziskave v družboslovju, se bodo raziskovalci, ki ne razumejo digitalnih orodij in sodobnih pristopov vedno težje znašli.
                        </p>

                        <p>
                            Fakulteta za računalništvo in informatiko organizira 5-urno delavnico o uporabi digitalnih pristopov za analizo besedil. Na delavnici boste spoznali, kako ustvariti, interpretirati in analizirati različne tipe družboslovnih podatkovih zbirk z digitalnimi orodji.
                        </p>

                        <p>
                            Delavnica je namenjena začetnikom. Znanje programiranja absolutno ni potrebno! 
                        </p>

                        <p>Na delavnici se boste naučili:
                            <ul>
                                <li>Osnovnih tehnik zajema korpusov besedil</li>
                                <li>Predprocesiranja besedil in avtomatskega sintaktičnega označevanja</li>
                                <li>Uporabiti tehnike strojnega učenja in tekstovnega rudarjenja na primeru napovedovanja avtorjev besedil</li>
                                <li>Gručiti besedila na podlagi vsebine (segmentacija besedil)</li>
                                <li>Uporabiti tehnike geolociranja in analize sentimenta</li>
                                <li>Samostojno izpeljati analizo besedila</li>
                            </ul>
                        </p>

                        <p>
                            Lokacija: Večna pot 113, Fakulteta za računalništvo in informatiko, Univerza v Ljubljani<br>
                            Čas: 08.06.2017, 9:00-14:00<br>
                            Zaželjeno je, da udeleženci prinesejo svoje prenosnike, bo pa nekaj računalnikov na voljo tudi na lokaciji.<br>
                            Za poučevanje bomo uporabljali program Orange (<a href="orange.biolab.si">orange.biolab.si</a>).
                        </p>

                        <p>
                            <a href="/static/images/delavnice/delavnica1.png">
                                <img src="/static/images/delavnice/delavnica1.png"
                                     alt="Tekstovna analiza za družboslovce">
                            </a>
                        </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}