{% extends "base.html" %}
{% load staticfiles %}
{% load tag_extras %}
{% load cache %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">Orange Documentation</h1>
                <div class="content">
                    <div class="col-md-4 col-xs-12">
                        <h2 class="docs-subtitle">Orange Visual Programming</h2>
                        <!-- image comes here -->
                        <img class="docs-image" src="/static/images/orange_title_scaled.png">
                        <ul>
                            <li><a href="{% url 'start' %}">Getting started</a></li>
                            <li><a href="https://www.youtube.com/channel/UClKKWBe2SCAEyv7ZNGhIe4g">YouTube tutorials</a></li>
                            <li><a href="http://orange-visual-programming.readthedocs.org/loading-your-data/index.html">Loading your data</a></li>
                            <li><a href="{% url 'toolbox' %}">Widget catalog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <h2 class="docs-subtitle">Orange Development</h2>
                        <!-- image comes here -->
                        <img class="docs-image" src="/static/images/orange_title_scaled.png">
                        <ul>
                            <li><a href="http://orange-development.readthedocs.org">Widget development tutorial and reference</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <h2 class="docs-subtitle">Orange Data Mining Library</h2>
                        <!-- image comes here -->
                        <img class="docs-image" src="/static/images/orange_title_scaled.png">
                        <ul>
                            <li><a href="http://docs.orange.biolab.si/3/data-mining-library/">Tutorial and reference</a></li>
                            <li><a href="http://docs.orange.biolab.si/2">Orange 2.7 documentation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}
