<h3>Windows</h3>

<p>This page contains nightly builds of Orange 2.7 from the code repository. These are typically stable and we recommend using them.</p>
<ul class="files">
    <li><p>Full package: <a href="{% url 'download' %}files/{{ winw27 }}">Snapshot of Orange with Python 2.7 and required libraries</a><br>
        This package is recommended to those installing Orange for the first time. It includes all required libraries (Python, PythonWin, NumPy, PyQt, PyQwt ...), though it will not change any libraries you might already have.<br>
        (Also available: <a href="{% url 'download' %}files/{{ winw26 }}">Orange for Python 2.6</a>)</p></li>
    <li><p>Pure Orange: <a href="{% url 'download' %}files/{{ win27 }}">Snapshot of Orange for Python 2.7</a><br>
        Use this version if you are updating from an earlier snapshot. You can install it over your existing installation.<br>
        (Also available: <a href="{% url 'download' %}files/{{ win26 }}">Orange for Python 2.6</a>)</p></li>
</ul>
