<h2>Add-ons</h2>
    <div id="expandable">

    <h3>Orange-Bioinformatics &nbsp; (version 2.5.25)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/biolab/orange-bioinformatics/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Bioinformatics" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/biolab/orange-bioinformatics" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://pythonhosted.org/Orange-Bioinformatics" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->
        <p>Orange Bioinformatics extends <a href="http://orange.biolab.si/">Orange</a>,
            a data mining software
            package, with common functionality for bioinformatics. The provided
            functionality can be accessed as a Python library or through a visual
            programming interface (Orange Canvas). The latter is also suitable for
            non-programmers.</p>

        <p>In Orange Canvas the analyst connects basic computational units, called
            widgets, into data flow analytics schemas. Two units-widgets can be
            connected if they share a data type. Compared to other popular tools like
            Taverna, Orange widgets are high-level, integrated potentially complex
            tasks, but are specific enough to be used independently. Even elaborate
            analyses rarely consist of more than ten widgets; while tasks such as
            clustering and enrichment analysis could be executed with up to five
            widgets. While building the schema each widget is independently controlled
            with settings, the settings do not conceptually burden the analyst.</p>

        <p>Orange Bioinformatics provides access to publicly available data,
            like GEO data sets, Biomart, GO, KEGG, Atlas, ArrayExpress, and PIPAx
            database. As for the analytics, there is gene selection, quality control,
            scoring distances between experiments with multiple factors. All features
            can be combined with powerful visualization, network exploration and
            data mining techniques from the Orange data mining framework.</p>

    </div>


    <h3>orangecontrib.earth &nbsp; (version 0.1.3)</h3>

    <div>
        <div class="icon-addons">
            <a href="https://bitbucket.org/ales_erjavec/orangecontrib-earth" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://pypi.python.org/pypi/orangecontrib.earth" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/orangecontrib.earth" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="http://pythonhosted.org/orangecontrib.earth" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>orangecontrib.earth provides an implementation of
            <a href="http://en.wikipedia.org/wiki/Multivariate_adaptive_regression_splines">Multivariate
                adaptive regression splines (MARS)</a> for the <a class="reference external"
                                                                  href="http://orange.biolab.si">Orange</a>
            machine learning library. This implementation is based on the C code from
            <a href="http://cran.r-project.org/web/packages/earth/index.html">R package
                earth</a> by Stephen Milborrow.</p>

    </div>


    <h3>Orange-ModelMaps &nbsp; (version 0.2.8)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/mstajdohar/orange-modelmaps/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-ModelMaps" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/mstajdohar/orange-modelmaps" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-modelmaps.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Model Maps is an add-on for <a class="reference external"
                                                 href="http://orange.biolab.si/">Orange</a> data mining
            software package. It
            extends Orange by providing modules for building model maps. It also provides
            widgets for Orange Canvas to enable users explore model maps.</p>
    </div>


    <h3>Orange-Multitarget &nbsp; (version 0.9.3)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/biolab/orange-multitarget/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Multitarget" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/biolab/orange-multitarget/" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-multitarget.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Multitarget is an add-on for <a class="reference external"
                                                  href="http://orange.biolab.si/">Orange</a> data mining
            software package. It
            extends Orange by providing methods that allow for classification of datasets
            with multiple classes.</p>

        <p>Currently supported techniques:</p>
        <blockquote>
            <ul class="simple">
                <li>Binary Relevance</li>
                <li>Classifier Chains and Ensemble Classifier Chains</li>
                <li>Clustering Trees</li>
                <li>Neural Networks</li>
                <li>Partial Least Squares</li>
            </ul>
        </blockquote>

    </div>


    <h3>Orange-Network &nbsp; (version 0.3.2)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/mstajdohar/orange-network/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Network" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/biolab/orange-network" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-network.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Network is an add-on for <a class="reference external"
                                              href="http://orange.biolab.si/">Orange</a> data mining
            software package. It
            provides network visualization and analysis tools.</p>


    </div>


    <h3>Orange-NMF &nbsp; (version 0.1.2)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/marinkaz/orange-nmf/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-NMF" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/marinkaz/orange-nmf" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-nmf.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange NMF is an add-on for <a class="reference external"
                                          href="http://orange.biolab.si/">Orange</a>
            data mining software package. It provides non-negative
            matrix factorization algorithms (NMF) through <a class="reference external"
                                                             href="http://nimfa.biolab.si">NIMFA</a>
            and robust singular value decomposition (rSVD).
            It includes widgets that deal with missing data in input matrices, their normalizations, viewing and
            assessing
            the quality of matrix factors returned by different matrix factorization algorithms.</p>

        <p>Widgets were designed and implemented by Fajwel Fogel (Ecole Polytechnique ParisTech). All NMF methods
            call <a href="http://nimfa.biolab.si">NIMFA</a> library, implemented by
            Marinka Zitnik (Bioinformatics Laboratory, FRI UL). Thanks also to
            Doug Marsteller, Stan Young (NISS), Chris Beecher, Paul Fogel.</p>
    </div>


    <h3>Orange-Reliability &nbsp; (version 0.2.14)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/biolab/orange-reliability/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Reliability" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="http://pythonhosted.org/Orange-Reliability" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Reliability is an add-on for <a class="reference external"
                                                  href="http://orange.biolab.si/">Orange</a> data mining
            software package that
            enables the estimation of reliabilities for individual predictions.</p>

    </div>


    <h3>Orange-Text &nbsp; (version 1.2a1)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://orange.biolab.si/addons/" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/biolab/orange-text/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Text" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/biolab/orange-text" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-text.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Text Mining is an add-on for <a class="reference external"
                                                  href="http://orange.biolab.si/">Orange</a> data mining
            software package. It
            extends Orange by providing common functionality for basic tasks in text
            mining.</p>

    </div>


    <h3>Orange-Textable &nbsp; (version 1.4.2)</h3>

    <div>
        <div class="icon-addons">
            <a href="http://langtech.ch/textable" title="Home page"><i class="fa fa-home"></i></a>
            <a href="https://bitbucket.org/langtech/orange-textable/downloads" title="Download"><i class="fa fa-download"></i></a>
            <a href="http://pypi.python.org/pypi/Orange-Textable" title="PyPi"><i class="fa fa-archive"></i></a>
            <a href="https://bitbucket.org/langtech/orange-textable/downloads" title="Repository"><i class="fa fa-code-fork"></i></a>
            <a href="http://orange-textable.readthedocs.org/" title="Documentation"><i class="fa fa-book"></i></a>
        </div><!--//icons-->

        <p>Orange Textable is an add-on for <a class="reference external"
                                               href="http://orange.biolab.si/">Orange</a> data mining
            software package. It
            enables users to build data tables on the basis of text data, by means of a
            flexible and intuitive interface. Look at the following <a class="reference external"
                                                                       href="http://orange-textable.readthedocs.org/en/latest/illustration.html">example</a>
            to see
            it in typical action.</p>

        <p>Orange Textable offers in particular the following features:</p>
        <ul class="simple">
            <li>text data import from keyboard, files, or urls</li>
            <li>systematic recoding</li>
            <li>segmentation and annotation of various text units</li>
            <li>extract and exploit XML-encoded annotations</li>
            <li>automatic, random, and arbitrary selection of unit subsets</li>
            <li>unit context examination using concordance and collocation tables</li>
            <li>frequency and complexity measures</li>
            <li>recoded text data and table export</li>
        </ul>

        <p>Textable was designed and implemented by <a href="http://langtech.ch">LangTech
            Sarl</a>
            on behalf of the department of language and information
            sciences (<a href="http://www.unil.ch/sli">SLI</a>) at the <a
                    href="http://www.unil.ch">University of Lausanne</a> (see
            <a class="reference external"
               href="http://orange-textable.readthedocs.org/en/latest/credits.html">Credits</a>
            and <a href="http://orange-textable.readthedocs.org/en/latest/credits.html">How
                to cite Orange Textable</a>).</p>
    </div>
</div>