{% extends "base.html" %}
{% load cache %}
{% load tag_extras %}

{% block content %}
    <!-- ******DOWNLOAD OPTIONS****** -->
    <section id="features" class="features section custom-reduce-padding-2">
        <div class="container" style="margin-top: 80px">
            <div class="row">

                <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">

                <div class="icon-item col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="{% url 'download' %}windows/">
                        <div class="icon{% if os == "windows" %}-selected{% endif %}">
                            <i class="fa fa-windows jsonly"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a href="{% url 'download' %}windows/"><h2 class="title">Windows</h2></a>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="{% url 'download' %}mac-os-x/">
                        <div class="icon{% if os == "mac-os-x" %}-selected{% endif %}">
                            <i class="fa fa-apple jsonly"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a href="{% url 'download' %}mac-os-x/"><h2 class="title">Mac OS X</h2></a>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="{% url 'download' %}linux/">
                        <div class="icon{% if os == "linux" %}-selected{% endif %}">
                            <i class="fa fa-linux jsonly"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a href="{% url 'download' %}linux/"><h2 class="title">Linux / Source</h2></a>
                    </div><!--//content-->
                </div><!--//item-->

                </div>

            </div><!--//row-->
        </div><!--//container-->


        <div class="container" style="margin-top: 60px;">

            {% if os == "windows" or os == "mac-os-x" %}

            <div class="row content">
                <div class="faq-col col-md-12 col-sm-12 col-xs-12">
                          <h2>Recommended download</h2>

                           <div style="width: 300px; text-align:center; padding-top:10px">
                            {% if os == "windows" %}
                                <a id="main-page-download-button-win" class="btn btn-warning big-button-base" href="{% orange3_win32_installer_url %}">
                                    Download Orange
                                </a>
                                <p style="margin-top: 0;">Windows Build - {% download_link 'date' %}</p>
                            {% elif os == "mac-os-x" %}
                                <a id="main-page-download-button-mac" class="btn btn-warning big-button-base" href="{% orange3_bundle_url %}">
                                    Download Orange
                                </a>
                                <p style="margin-top:0;">Mac OS X Build - {% download_link 'date' %}</p>
                            {% endif %}
                           </div>
                </div>
            </div>

            {% endif %}

            <div class="row">
                <div class="faq-col col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        {% if os == "windows" %}
                            {% cache 43200 dl_win_html %}{% download_win %}{% endcache %}
                        {% elif os == "mac-os-x" %}
                            {% cache 43200 dl_mac_html %}{% download_mac %}{% endcache %}
                        {% elif os == "linux" %}
                            {% cache 43200 dl_source_html %}{% download_source %}{% endcache %}
                        {% else %}
                            {% cache 43200 dl_win_html %}{% download_win %}{% endcache %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>Previous version</h2>
                    <p><a id="orange2-link-downloads" href="{% url 'orange2' %}">Orange 2.7</a> is still available.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        <h2>Installing add-ons</h2>
                        <p>Additional features can be added to Orange by installing add-ons. You can find add-on manager in Options menu.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
