<h2>Add-ons</h2>
<div id="expandable">
    {% for addon in addons %}
        <h3>{{ addon.name }} &nbsp; (version {{ addon.version }})</h3>
        <div>
            <div class="icon-addons">
                <a href="{{ addon.home_page }}" title="Home page"><i id="icon-i-hover" class="fa fa-home"></i></a>
                <a href="{{ addon.download_url }}" title="Download"><i id="icon-i-hover" class="fa fa-download"></i></a>
                <a href="{{ addon.package_url }}" title="PyPi"><i id="icon-i-hover" class="fa fa-archive"></i></a>
                {% if addon.repo_url %}
                    <a href="{{ addon.repo_url }}" title="Repository"><i id="icon-i-hover" class="fa fa-code-fork"></i></a>
                {% endif %}
                <a href="{{ addon.docs_url }}" title="Documentation"><i id="icon-i-hover" class="fa fa-book"></i></a>
            </div><!--//icons-->
            <div>
                {{ addon.description|removetags:"div h1 h2 h3"|safe }}
            </div>
        </div>
    {% endfor %}
</div>
