<h2>Linux / Source</h2>
<h3>Automatic setup</h3>
<p>Setup can be automated by using <a id="linux-download-script" href="http://biolab.github.io/install-orange/setup-ubuntu.sh">
   Ubuntu 14.04 setup script </a>.
   Before the installation, move to directory, where you want Orange to be installed.
   Following command will start installation, which usually takes about 15 minutes. 
</p>
<pre><code>source setup-ubuntu.sh </code></pre>
<p>Install script will also create and enter new virtual environment for you, which
   you can reenter using following command:
</p>
<pre><code>source orange3env/bin/activate </code></pre>
<p>You open the Orange application by executing the following command from the
   virtual environment.</p>
<pre><code>python -m Orange.canvas</code></pre>
