{% extends "base.html" %}

{% block content %}
    <section id="faq" class="faq section move-down">
        <div class="container">
            <div class="row">
                <div class="faq-col col-md-12 col-sm-12 col-xs-12">
                    <h1 class="title">Download</h1>
                    {% if os == "windows" %}
                        
                        {% include "download_windows.html" %}

                    {% elif os == "mac-os-x" %}
                        <h2>Mac OS X</h2>

                        <ul class="files">
                            <li><p>Bundle: <a href="{% url 'download' %}Orange-2.7.3-11906.dmg">Orange Snapshot</a><br>
                                This is an universal bundle with everything packed in and ready for an unadvanced user.</p></li>
                            <li><p>easy_install/pip:<br>
                                Orange is available as a PyPi package. To install run:</p>
                                <pre>easy_install numpy && easy_install orange</pre></li>
                        </ul>
                    {% elif os == "linux" %}
                        <h2>Building from source</h2>
                        {% include "download_source.html" %}
                    {% elif os == "for-developers" %}
                        <h2>For Developers</h2>
                        <h3>Building from source</h3>
                        {% include "download_source.html" %}

                        <h3>make</h3>
                        <p>Source distribution also includes makefiles for Linux and Mac OS X and project files for MS Visual Studio 2008.
                           To compile Orange, you will need an appropriate compiler, <a href="http://www.python.org/">Python</a> and <a href="http://numpy.scipy.org/">NumPy</a>.
                           See <a href="http://orange.biolab.si/trac/intertrac/wiki%3ABuildingFromSource" title="wiki:BuildingFromSource in Orange Trac">building from source</a> wiki page for more information.</p>

                        <p>Orange 3.0 is in early stages of development. Those interested can find it on <a hre="https://github.com/biolab/orange3">GitHub.</a></p>

                        <h3>C4.5 files</h3>
                        <p>We have no rights to distribute the original C4.5 in any form, but we can provide assistance for building an Orange plug-in from the sources you download yourself from the Ross Quinlan's site. The files required for compiling C4.5 are <a href="{% url 'download' %}buildC45.zip">here</a> and instructions <a href="/doc/reference/Orange.classification.tree/#c4-5-classifier-and-learner">here</a>.</p>
                    {% else %}
                        {% include "download_windows.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- ******DOWNLOAD OPTIONS****** -->
    <section id="features" class="features section custom-reduce-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="title text-left">Supported Platforms</h2>
                </div>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a href="{% url 'download' %}windows/">
                    <div class="icon">
                        <i class="fa fa-windows fa-rotate-90"></i>
                    </div><!--//icon-->
                    </a>

                    <div class="content">
                        <a href="{% url 'download' %}windows/"><h3 class="title">Windows</h3></a>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a href="{% url 'download' %}mac-os-x/">
                    <div class="icon">
                        <i class="fa fa-apple"></i>
                    </div><!--//icon-->
                    </a>

                    <div class="content">
                        <a href="{% url 'download' %}mac-os-x/"><h3 class="title">Mac OS X</h3></a>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a href="{% url 'download' %}linux/">
                    <div class="icon">
                        <i class="fa fa-linux"></i>
                    </div><!--//icon-->
                    </a>

                    <div class="content">
                        <a href="{% url 'download' %}linux/"><h3 class="title">Linux / Source</h3></a>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a href="{% url 'download' %}for-developers/">
                    <div class="icon">
                        <i class="fa fa-code-fork"></i>
                    </div><!--//icon-->
                    </a>

                    <div class="content">
                        <a href="{% url 'download' %}for-developers/"><h3 class="title">For Developers</h3></a>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->
{% endblock content %}
