<p>For Windows we are providing some installers for Biolab add-ons of latest repository snapshots.</p>

<h4>Bioinformatics Add-On</h4>
<ul>
    <li>Python 2.7: <a href="{% url 'download' %}{{ bio27 }}">Snapshot of Orange Bioinformatics Add-On for Python 2.7</a></li>
    <li>Python 2.6: <a href="{% url 'download' %}{{ bio26 }}">Snapshot of Orange Bioinformatics Add-On for Python 2.6</a></li>
</ul>
<h4>Text Mining Add-On</h4>
<ul><li>Python 2.7: <a href="{% url 'download' %}{{ text27 }}">Snapshot of Orange Text Mining Add-On for Python 2.7</a></li>
    <li>Python 2.6: <a href="{% url 'download' %}{{ winw26 }}">Snapshot of Orange Text Mining Add-On for Python 2.6</a></li>
</ul>
