{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load tag_extras %}

{% block content %}
    <!-- ******PROMO****** -->

    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                        <h1 class="title firstpagetitle"><span style="white-space:nowrap">Data Mining</span> <span style="white-space:nowrap">Fruitful and Fun</span></h1>
                        <div class="content">
                            <p class="bigsummary summary">Open source data visualization and data analysis for novice and expert. Interactive workflows with a large toolbox.</p>
                        </div>
                    </div>


                    <!--// iPhone starts - default/only view -->
                    <div class="phone iphone col-lg-8 col-md-7 col-sm-6 col-xs-12 pull-right">
                        <div class="iphone-holder phone-holder">
                            <div class="iphone-holder-inner">
                                    <a href="/static/homepage/screenshots/tree-exploration.png" title="Explorative analysis and classification trees">
                                        <img style="width: 100%;"
                                        alt="Explorative analysis and classification trees" src="/static/homepage/screenshots/tree-exploration.png">
                                    </a>
                            </div><!--//iphone-holder-inner-->
                        </div><!--//iphone-holder-->
                    </div><!--//iphone-->
                    <!--// iPhone ends -->


                    <div class="download-area col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <a id="main-page-download-button" class="btn btn-warning big-button-base" href="{% url 'download' %}">
                                    Download Orange
							</a>
                            {% comment %}
                            <a id="main-page-learnmore" class="btn btn-warning big-button-base big-button-empty" href="#features">
                                    Learn more
                            </a>
                            {% endcomment %}

							<div class="content">
                                <p style="margin-top:6px">The <a id="orange2-link" href="/orange2/">old version</a>, Orange 2.7, is still available.</p>
                            </div><!--//content-->

                    </div>

                </div><!--//overview-->
            </div><!--//row-->
			
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container" style="margin-top:70px; margin-bottom: 50px;">

            <div class="row">
                
				<a name="features"></a>
                <h1 class="title text-center sr-only">Features</h1>

                <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
				
                <div class="icon-item col-md-4 col-sm-6 col-xs-12 text-center">
                    <a id="landing-visualization-link-icon" href="{% url 'start' %}">
                        <div class="icon">
							<i id="special-rotate" class="fa fa-code-fork"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-getting-started-link" href="{% url 'start' %}"><h2 class="title">Interactive workflows</h2></a>
                        <p>Create your own interactive workflows to analyse and visualize your data.</p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-4 col-sm-6 col-xs-12 text-center">
                    <a id="landing-visualization-link-icon" href="{% url 'screenshots' %}">
                        <div class="icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-visualization-link" href="{% url 'screenshots' %}"><h2 class="title">Visualization</h2></a>
                        <p>Orange is packed with different visualizations, from scatter plots, bar charts, trees, to dendrograms, networks and heat maps.</p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-4 col-sm-6 col-xs-12 text-center">
                    <a id="landing-toolbox-link-icon" href="{% url 'toolbox' %}">
                        <div class="icon">
                            <i class="fa fa-gears"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-toolbox-link" href="{% url 'toolbox' %}"><h2 class="title">Large Toolbox</h2></a>
                        <p>Over 100 widgets and growing. We cover most of standard data analysis tasks. Specialized add-ons available, like Orange Bioinformatics.</p>
                    </div><!--//content-->
                </div><!--//item-->

                </div><!--//item-->

            </div><!--//row-->


        </div><!--//container-->
    </section><!--//features-->

{% endblock content %}
