{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load tag_extras %}

{% block content %}
    <!-- ******PROMO****** -->

    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                        <h1 class="title firstpagetitle"><span style="white-space:nowrap">Data Mining</span> <span style="white-space:nowrap">Fruitful and Fun</span></h1>
                        <div class="content">
                            <p class="bigsummary summary">Open source data visualization and data analysis for novice and expert. Interactive workflows with a large toolbox.</p>
                        </div>
                    </div>


                    <!--// iPhone starts - default/only view -->
                    <div class="phone iphone col-lg-8 col-md-7 col-sm-6 col-xs-12 pull-right">
                        <div class="iphone-holder phone-holder">
                            <div class="iphone-holder-inner">
                                <img class="landing-image" alt="Orange Data Mining" src="/static/images/orange_title_scaled.png">
                            </div><!--//iphone-holder-inner-->
                        </div><!--//iphone-holder-->
                    </div><!--//iphone-->
                    <!--// iPhone ends -->


                    <div class="download-area col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <a id="main-page-download-button" class="btn btn-warning big-button-base" href="{% url 'download' %}">
                                    Download Orange
							</a>
                            {% comment %}
                            <a id="main-page-learnmore" class="btn btn-warning big-button-base big-button-empty" href="#features">
                                    Learn more
                            </a>
                            {% endcomment %}

							<div class="content">
                                <p style="margin-top:6px">The <a id="orange2-link" href="/orange2/">old version</a>, Orange 2.7, is still available.</p>
                            </div><!--//content-->
                    </div>

                </div><!--//overview-->
            </div><!--//row-->
			
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container">
            {% for feat in features %}
                {% include "feature_panel.html" with index=forloop.counter0 feature=feat %}
            {% endfor %}
        </div>
    </section><!--//features-->

    <!-- ******TESTIMONIALS****** -->
    <section id="testimonials" class="features section">
        {% testimonials_tag testimonials %}
    </section><!--//testimonials-->

{% endblock content %}
