{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load tag_extras %}

{% block content %}
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h1 class="title">Data Mining - Fruitful and Fun</h1>
                        <div class="content">
                            <p class="summary">Open source data visualization and analysis for novice and experts. Data mining through visual programming or Python scripting. Components for machine learning. Add-ons for bioinformatics and text mining. Packed with features for data analytics.</p>
                        </div>
                    </div>

                    <!--// iPhone starts - default/only view -->
                    <div class="phone iphone col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="iphone-holder phone-holder">
                            <div class="iphone-holder-inner">
                                <div id="visage" class="slider flexslider imgcontent">
                                    <ul class="slides">
                                        {% for screenshot in random_screenshots %}
                                            <li>
                                                <a href="{% static screenshot.img %}" title="{{ screenshot.title }}">
                                                    <img class="custom-slide" data-toggle="tooltip" data-placement="bottom"  title="{{ screenshot.title }}"
                                                    alt="{{ screenshot.title }}" src="{% static screenshot.img %}">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul><!--//slides-->
                                </div><!--//flexslider-->
                            </div><!--//iphone-holder-inner-->
                        </div><!--//iphone-holder-->
                    </div><!--//iphone-->
                    <!--// iPhone ends -->

                    <div class="download-area col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="download-left">
                            {% if os == "windows" %}
                                <a id="main-page-download-button" class="btn btn-warning" href="{% url 'download' %}files/{% cache 43200 dl_win_link %}{% download_link os %}{% endcache %}">
                                    <h3 class="download-btn">Download Orange</h3>
                                    <p style="margin-top: -9px;">Windows Build - {% download_link 'date' %}</p>
                                </a>
                            {% elif os == "mac-os-x" %}
                                <a id="main-page-download-button" class="btn btn-warning" href="{% url 'download' %}files/{% cache 43200 dl_mac_link %}{% download_link os %}{% endcache %}">
                                    <h3 class="download-btn">Download Orange</h3>
                                    <p style="margin-top: -9px;">Mac OS X Build - {% download_link 'date' %}</p>
                                </a>
                            {% elif os == "linux" %}
                                <a id="main-page-download-button" class="btn btn-warning" href="{% url 'download' %}files/{% cache 43200 dl_source_link %}{% download_link os %}{% endcache %}">
                                    <h3 class="download-btn">Download Orange</h3>
                                    <p style="margin-top: -9px;">Linux Source - {% download_link 'date' %}</p>
                                </a>
                            {% else %}
                                <a id="main-page-download-button" class="btn btn-warning" href="{% url 'download' %}">
                                    <h3 class="download-btn">Download Orange</h3>
                                <p style="margin-top: -9px;">For Windows, Mac OS X, Linux</p>
                                </a>
                            {% endif %}
                            <div class="content">
                                <p style="margin-top:6px">
                                <a href="{% url 'download' %}" id="download-other-systems">Other Systems</a></p>
                                <p style="margin-top:0">Curious? Try <a id="orange3-link" href="{% url 'orange3' %}">Orange3</a>.</p>
                            </div><!--//content-->
                        </div>

                        <div class="download-right">
                            <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="250" ></div>
                            <div id="fb-root"></div>
                            <div class="fb-like" data-href="http://www.facebook.com/orangedm" data-width="250"
                                 data-layout="standard" data-action="recommend" data-show-faces="true"
                                 data-share="false"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="title custom-reduce-padding">Latest Posts</h2>
                        {% cache 43200 feed_all %}
                            {% grab_feed_all %}
                        {% endcache %}
                    </div>


                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->

    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h1 class="title text-center sr-only">Features</h1>

                <div class="icon-item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a id="landing-getting-started-link-icon" href="{% url 'start' %}">
                        <div class="icon">
                            <i id="special-rotate" class="fa fa-code-fork"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-getting-started-link" href="{% url 'start' %}"><h2 class="title">Getting Started</h2></a>
                        <p><a href="{% url 'download' %}" id="landing-getting-started-download-orange">Download Orange</a> and run through our <a href="{% url 'start' %}" id="landing-getting-started-tutorial">tutorial</a> to get a feel for visual programming.</p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a id="landing-visualization-link-icon" href="{% url 'screenshots' %}">
                        <div class="icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-visualization-link" href="{% url 'screenshots' %}"><h2 class="title">Visualization</h2></a>
                        <p>Orange is packed with different visualizations, from scatter plots, bar charts, trees, to dendrograms, networks and heat maps.</p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a id="landing-toolbox-link-icon" href="http://docs.orange.biolab.si/widgets/rst/index.html">
                        <div class="icon">
                            <i class="fa fa-gears"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-toolbox-link" href="http://docs.orange.biolab.si/widgets/rst/index.html"><h2 class="title">Large Toolbox</h2></a>
                        <p>Over 100 widgets and growing. We cover most of standard data analysis tasks. Specialized add-ons available, like Orange Bioinformatics.</p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="icon-item col-md-3 col-sm-6 col-xs-12 text-center">
                    <a id="landing-scripting-link-icon" href="http://docs.orange.biolab.si/tutorial/rst/index.html">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div><!--//icon-->
                    </a>
                    <div class="content">
                        <a id="landing-scripting-link" href="http://docs.orange.biolab.si/tutorial/rst/index.html"><h2 class="title">Scripting Interface</h2></a>
                        <p>With Python scripting interface and Orange classes, work on new algorithms and complex analysis procedures is pure joy.</p>
                    </div><!--//content-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->

{% endblock content %}
