{% extends "base.html" %}

{% block content %}
<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>License</h1>
                {{ text|striptags|urlize|linebreaks }}
                {% for o in other %}
                    <pre>
                        {{ o }}
                    </pre>
                {% endfor %}
                <p>If you would like to use Orange under different license or conditions, please <a href="/contact/">contact us</a>.</p>
                <p>If you want to cite Orange or give it an attribution, you can find more information <a href="/citation/">here</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
