{% extends "base.html" %}

{% block title %}License{% endblock title %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">License</h1>
                <div class="content">
                {{ text|striptags|urlize|linebreaks }}
                {% for o in other %}
                    <pre>
                        {{ o }}
                    </pre>
                {% endfor %}
                <p>If you would like to use Orange under different license or conditions, please <a href="{% url 'contact' %}">contact us</a>.</p>
                <p>If you want to cite Orange or give it an attribution, you can find more information <a href="{% url 'citation' %}">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
