{% extends "base.html" %}
{% load staticfiles %}
{% load tag_extras %}
{% load cache %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">Orange 2.7</h1>
                <div class="content">
                    <p>Orange 2.7 is a legacy version of Orange. We think you should upgrade to the <a href="/download/">current version</a>, but if you still need the version 2.7, please download it below.</p>

                    <p>Windows: <a href="{% orange2_win32_installer_url %}">Orange 2.7 installer for Windows.</a></p>
                    <p>Mac OS: <a href="{% orange2_bundle_url %}">Orange 2.7 bundle for OSX.</a></p>
                    <p>Other systems: <a href="{% orange2_source_url %}">Orange 2.7 source.</a></p>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content">
                <h2>Documentation</h2>
                <p>Read documentation for Orange 2.7 <a href="http://docs.orange.biolab.si/2">here</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% cache 43200 dl_addons2_html %}{% download_addons2 %}{% endcache %}
            </div>
        </div>
    </div>

</section>
{% endblock content %}
