{% extends "base.html" %}

{% block content %}
    <section id="features" class="features section custom-reduce-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="title">Privacy Policy</h1>
                    <div class="content">
                        <p>Last updated: 14.1.2016<br><br>
    Laboratory of Bioinformatics, Faculty of Computer and Information Science, University of Ljubljana (''us'', ''we'', or ''ours'') operates http://orange.biolab.si (the ''Site''). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.<br><br>
    We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
                        <h3>Information Collection and Use</h3>
                        <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name (''Personal Information'').</p>
                        <h3>Log Data</h3>
                        <p>Like many site operators, we collect information that your browser sends whenever you visit our Site (''Log Data'').<br><br>
    This Log Data may include information such as your computer's Internet Protocol (''IP'') address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.<br><br>
    In addition, we are using third party services, i.e. Google Analytics, that collect, monitor and analyze these data. If you wish to opt-out of data collection on our site, we recommend you to use <a href="https://tools.google.com/dlpage/gaoptout/">Google Analytics Opt-Out Add On</a>.</p>
                        <h3>Communications</h3>
                        <p>We may use your Personal Information to contact you when replying to your contact request or conducting a survey of activities.</p>
                        <h3>Security</h3>
                        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
                        <h3>Changes to this Privacy Policy</h3>
                        <p>This Privacy Policy is effective as of 14.1.2016 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.<br><br>
    We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgement of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
                        <h3>Contact Us</h3>
                        <p>If you have any questions about this Privacy Policy, please contact us through the <a href="{% url 'contact' %}" title="Contact">contact form</a> on our website.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}