{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Screenshots</h1>
                </div>
                {% for screenshot in screenshots %}
                    <div class="item col-md-3 col-sm-6 col-xs-12 screenshot-container">
                        <div id="visage" class="content">
                            <div class="screenshot">
                                <a rel="hovertitle" href="{% static screenshot.img %}"><img
                                   alt="{{ screenshot.title }}" src="{% static screenshot.thumb %}">
                                </a>
                            </div>
                            <div class="screenshot-title"><a href="{% static screenshot.img %}" class="enable-visage" >
                                    <h3 class="title">{{ screenshot.title }}</h3>
                                 </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
