{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section id="features" class="features section custom-reduce-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="title">Screenshots</h1>
                </div>
                <div id="visage" class="content">
                {% for screenshot in screenshots %}
                    <div class="item col-md-3 col-sm-6 col-xs-12 screenshot-container">
                        <div class="content">
                            <div class="screenshot">
                                <a href="{% static screenshot.img %}" title="{{ screenshot.title }}">
                                    <img class="hovertitle" alt="{{ screenshot.title }}" src="{% static screenshot.thumb %}">
                                </a>
                            </div>
                            <p class="screenshot-title">{{ screenshot.title }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
