{% extends "download/base.html" %}

{% block download_choices %}
    <h2>Linux / Source</h2>

    {% include "download/common.html" %}

    <h3>Installing from source</h3>
    <p>Clone our repository from <a href="https://github.com/biolab/orange3">GitHub</a> or download
        the <a href="https://github.com/biolab/orange3/archive/stable.tar.gz">source code tarball</a>.
        Then follow the instructions in <a href="https://github.com/biolab/orange3/blob/stable/README.md">README.md</a>
    </p>
    <p>To run Orange Canvas run</p>
    <pre><code>python -m Orange.canvas</code></pre>
{% endblock %}
