{% extends "base.html" %}
{% load staticfiles %}
{% load tag_extras %}
{% load cache %}

{% block content %}
<section id="features" class="features section custom-reduce-padding-2">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">Orange 2.7</h1>
                <div class="content">
                    <p>Orange 2.7 is a legacy version of Orange. We think you should upgrade to the <a href="/download">current version</a>, but if you still need the version 2.7, please download it below.</p>

                    <p>Windows: <a href="http://orange.biolab.si/download/files/archive/orange-win-w-python-snapshot-hg-2016-06-17-py2.7.exe">Orange 2.7 installer for Windows.</a></p>
                    <p>Mac OS: <a href="http://orange.biolab.si/download/files/archive/Orange-2.7.8-440e21.dmg">Orange 2.7 bundle for OSX.</a></p>
                    <p>Other systems: <a href="http://orange.biolab.si/download/files/archive/orange-source-snapshot-hg-2016-06-17.zip">Orange 2.7 source.</a></p>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content">
                <h2>Documentation</h2>
                <p>Read documentation for Orange 2.7 <a href="http://docs.orange.biolab.si/2">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
