{% extends "download/base.html" %}
{% load tag_extras %}

{% block download_choices %}
    <h2>Download the latest version for Windows</h2>

    <a id="recommended-download" style="margin-top: 10px" class="btn btn-warning big-button-base" href="{{ classic.url }}">
        Download Orange {{ classic.version }}
    </a>

    <h3>Classic installer (Default)</h3>
    <a href="{{ classic.url }}">{{ classic.filename }}</a>
    <p>Installs Orange along with Python and all required libraries (Python, NumPy, SciPy, Scikit Learn, PyQt, ...)</p>

    <h3>Standalone installer</h3>
    <a href="{{ standalone.url }}">{{ standalone.filename }}</a>
    <p>Installs Orange to home folder. Can be used without administrator privileges.</p>

    <h3>Miniconda installer (beta)</h3>
    <a href="{{ miniconda.url }}">{{ miniconda.filename }}</a>
    <p>
        Installs Miniconda and Orange.<br />
        <br />
        Please report any problems to our <a href="https://github.com/biolab/orange3/issues/new?title=Problem%20with%20miniconda%20installer">Issue Tracker</a>.
    </p>

    {% include "download/common.html" %}
{% endblock %}
